<Label>Select Equipment</Label>

<table class="table table-condensed table-hover table-bordered table-styled my-datatable">
    <thead>
        <tr class="active">
            <th class="noSearch"></th>
            <th>Qty Shipped 
with this BOL</th>
            <th>Equipment</th>
            <th>Priority</th>
            <th>Release
Date</th>
            <th>Drawing #</th>
            <th>Work
Order #</th>
            <th>Qty</th>
            <th>Ship 
Tag #</th>
            <th>Description</th>
            <th>Unit
Wt</th>
            <th>Total
Wt</th>
            <th>Total Wt
Shipped</th>
            <th>RTS</th>
            <th>Total Ship
Qty</th>
            <th>Left To
Ship</th>
            <th>Fully
Shipped</th>
            <th>Shipped
From</th>
            <th>Customs
Value</th>
            <th>Sale
Price</th>
            <th>HTS</th>
            <th>COO</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
