html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

textarea {
    resize: none;
}

.footer {
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    /* Set the fixed height of the footer here */
    height: 60px;
}

    .footer .navbar {
        margin-bottom: 0;
    }

.banner {
    background-color: rgba(50, 57, 60, 1);
}

    .banner object {
        padding: .5em;
        max-height: 100px;
    }

.navbar {
    border-radius: 0;
}

.navbar-brand {
    white-space: nowrap;
    padding: 5px;
}

    .navbar-brand.vertical-bar-right {
        border-color: #fff;
        margin-right: 0px;
        padding-right: 15px;
    }

    .navbar-brand img {
        height: 100%;
    }

.navbar-inverse {
    background-color: rgba(9, 79, 164, 0.8);
    border-color: rgba(9, 79, 164, 0.8);
    border-bottom: 3px solid #eeba53;
}


    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > strong, .navbar-inverse .navbar-brand {
        color: #ffffff;
    }

        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
            background-color: #eeba52;
        }

.navbar-inverse.development {
    background-color: red;
    border-color: red;
}

.center-block {
    float: none;
}

.text-wrap {
    white-space: normal;
}

/* btn-secondary */
.btn-secondary {
    color: #FFFFFF;
    background-color: #EEBA52;
    border-color: #DDA942;
}

    .btn-secondary:hover,
    .btn-secondary:focus,
    .btn-secondary:active,
    .btn-secondary.active,
    .open .dropdown-toggle.btn-secondary {
        color: #FFFFFF;
        background-color: #dda942;
        border-color: #DDA942;
    }

    .btn-secondary:active,
    .btn-secondary.active,
    .open .dropdown-toggle.btn-secondary {
        background-image: none;
    }

    .btn-secondary.disabled,
    .btn-secondary[disabled],
    fieldset[disabled] .btn-secondary,
    .btn-secondary.disabled:hover,
    .btn-secondary[disabled]:hover,
    fieldset[disabled] .btn-secondary:hover,
    .btn-secondary.disabled:focus,
    .btn-secondary[disabled]:focus,
    fieldset[disabled] .btn-secondary:focus,
    .btn-secondary.disabled:active,
    .btn-secondary[disabled]:active,
    fieldset[disabled] .btn-secondary:active,
    .btn-secondary.disabled.active,
    .btn-secondary[disabled].active,
    fieldset[disabled] .btn-secondary.active {
        background-color: #EEBA52;
        border-color: #DDA942;
    }

    .btn-secondary .badge {
        color: #EEBA52;
        background-color: #FFFFFF;
        color: #FFFFFF;
    }

.btn-group ul.dropdown-menu {
    padding: 0;
}

.btn-group.active.open ul.dropdown-menu a.dropdown-primary,
.btn-group.open ul.dropdown-menu a.dropdown-primary {
    color: #FFFFFF;
    background-color: #337ab7;
}

.btn-group.active.open ul.dropdown-menu a.dropdown-secondary,
.btn-group.open ul.dropdown-menu a.dropdown-secondary,
.btn-group.active.open ul.dropdown-menu a:hover,
.btn-group.open ul.dropdown-menu a:hover {
    color: #FFFFFF;
    background-color: #dda942;
    border-color: #DDA942;
}

.btn-group .dropdown-menu a {}

.vertical-bar-left {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #ddd;
}

.vertical-bar-right {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #ddd;
}

dl.dl-horizontal dt {
    width: 260px;
}

dl.dl-horizontal dd {
    margin-left: 280px;
}

.form-inline .radio-inline {
    margin-top: -3px;
}

.form-inline .total-records {
    margin-top: 5px;
}

.pagination-container .pagination {
    margin: 0;
}

.label-as-badge {
    border-radius: .7em;
    font-size: 12px;
    padding: 5px;
}

.modal-dialog {
    width: 100%;
    height: 100%;
}

.modal-body {
    max-height: 70vh;
    overflow-y: auto;
}

.modal-body .table {
    width: 100% !important;
}


.img-gallery .img {
    padding: 15px;
}




div.dataTables_wrapper div.dataTables_filter label, div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input, div.dataTables_wrapper div.dataTables_length select {
    margin-left: 0.5em;
    width: auto;
    display: inline-block;
}

div.dataTables_wrapper .dataTables_filter {
    text-align: inherit;
    float: left;
    margin-right: 12px;
}

div.dataTables_wrapper .dataTables_info {
     float: none; 
     padding-top: 0; 
}

div.dataTables_wrapper .dataTables_length {
    text-align: inherit;
    float: right;
}

div.dataTables_wrapper .dataTables_paginate {
    text-align: inherit;
}

div.dataTables_wrapper .bottom-section {
    padding: 15px 0;
}

.dataTables_info {
    line-height: 25px;
}

.DTED.DTED_Lightbox_Wrapper {
    z-index: 9999 !important;
}

.datatable-border-left {
    border-left: 15px solid #ddd !important;
}


.checkbox-inline + .checkbox-inline + .checkbox-inline {
    margin-left: 0; 
}





/* all tables */


table.dataTable thead th.select-checkbox {
    position: relative;
}

table.dataTable thead th.select-checkbox:before, table.dataTable thead th.select-checkbox:after {
    display: block;
    position: absolute;
    left: 50%;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
}

table.dataTable thead th.select-checkbox.sorting_desc, table.dataTable thead th.select-checkbox.sorting_asc {
    background: none !important;
}

table.dataTable thead th.select-checkbox:before {
    content: ' ';
    margin-top: -6px;
    margin-left: -6px;
    border: 1px solid black;
    border-radius: 3px;
}

table.dataTable tr.selected th.select-checkbox:after {
    content: '\2714';
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: 1px 1px #B0BED9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9;
}

table.dataTable tbody tr.selected td {
    background-color: #B0BED9 !important;
}

table.dataTable tbody .attachments .badge {
    margin-right: 5px;
}











.table-styled {
    font-size: 12px;
}

    .table-styled th {
        vertical-align: middle !important;
        padding: 5px 18px 5px 10px !important;
        text-align: center;
        white-space: pre;
        cursor: pointer;
        font-size: 10px;
    }

    .table-styled.table-hover > tbody > tr:hover {
        background-color: #f5f5ff;
    }



    .table-styled td {
        line-height: 1 !important;
    }

    .table-styled tr td {
        vertical-align: middle !important;
    }

    table.dataTable.table-styled tbody tr td.editing {
        background-color: #FfeEdD !important;
    }


    div.DTE_Inline input, div.DTE_Inline select, div.DTE_Inline textarea {
        border: none;
        background-color: transparent;
        padding: 0 !important;
    }

    div.DTE_Inline input:focus, div.DTE_Inline select:focus, div.DTE_Inline textarea:focus {
        outline: none;
        background-color: transparent;
    }

    table.dataTable.table-styled tbody tr td.Error {
        background-color: rgb(255, 0, 102) !important;
    }

    table.dataTable.table-styled tbody td.Red {
        background-color: rgb(255, 0, 102) !important;
    }

    table.dataTable.table-styled td.Yellow {
        background-color: rgb(255, 255, 0) !important;
    }

    table.dataTable.table-styled td.Green {
        background-color: rgb(146, 208, 80) !important;
    }

    table.dataTable.table-styled td.Purple {
        background-color: rgb(204, 192, 218) !important;
    }

    table.dataTable.table-styled td.Pink {
        background-color: rgb(255, 199, 206) !important;
    }

    table.dataTable.table-styled td.Fuchsia {
        background-color: rgb(255, 51, 204) !important;
    }

    table.dataTable.table-styled td.LightBlue {
        background-color: rgb(217,237,247) !important;
    }


    .table-styled  .equipmentNameWidth  {
        min-width: 200px;
    }

    .table-styled  .priorityWidth  {
        min-width: 20px;
        width: 20px;
    }

    .table-styled  .dateWidth  {
        min-width: 50px;
        width: 50px !important;
    }

    .table-styled  .drawingNumberWidth  {
        min-width: 100px;
    }

    .table-styled  .workOrderNumberWidth  {
        min-width: 100px;
    }

    .table-styled  .quantityWidth  {
        min-width: 20px;
    }

    .table-styled  .shippingTagNumberWidth  {
        min-width: 120px;
    }

    .table-styled  .descriptionWidth  {
        min-width: 300px;
    }

    .table-styled  .unitWeightWidth  {
        min-width: 20px;
    }

    .table-styled  .totalWeightWidth  {
        min-width: 20px;
    }

    .table-styled  .totalWeightShippedWidth  {
        min-width: 20px;
    }

    .table-styled  .readyToShipWidth  {
        min-width: 20px;
    }

    .table-styled  .shippedQuantityWidth  {
        min-width: 20px;
    }

    .table-styled  .leftToShipWidth  {
        min-width: 20px;
    }

    .table-styled  .fullyShippedWidth  {
        min-width: 20px;
    }

    .table-styled  .shippedFromWidth  {
        min-width: 100px;
    }

    .table-styled  .customsValueWidth  {
        min-width: 20px;
    }

    .table-styled  .salePriceWidth  {
        min-width: 20px;
    }

    .table-styled .htsCodeWidth  {
        min-width: 100px;
    }

    .table-styled .countryOfOriginWidth  {
        min-width: 100px;
    }

    .table-styled .notesWidth  {
        min-width: 200px;
    }

    .table-styled .billOfLadingNumbersWidth {
        min-width: 100px;
    }

    .table-styled .latestBOLDateShippedWidth {
        min-width: 70px;
    }

    .table-styled .shippedToWidth {
        min-width: 100px;
    }

    /* PROJECT WIDTHS */

    .table-styled .shipToCompanyWidth {
        min-width: 125px;
    }
    .table-styled .shipToContact1Width {
        min-width: 125px;
    }
    .table-styled .shipToContact2Width {
        min-width: 125px;
    }
    .table-styled .shipToBrokerWidth {
        min-width: 125px;
    }
    .table-styled .pmWidth {
        min-width: 50px;
    }
    .table-styled .receivingHoursWidth {
        min-width: 100px;
    }

    /* TRUCKING SCHEDULE WIDTHS */

    .table-styled .shipFromWidth {
        min-width: 125px;
    }
    .table-styled .shipToWidth {
        min-width: 125px;
    }
    .table-styled .dimensionsWidth {
        min-width: 200px;
    }
    .table-styled .truckingScheduleDescriptionWidth {
        min-width: 200px;
    }
    .table-styled .commentsWidth {
        min-width: 200px;
    }






    .table-styled .hardwarekitLabel {
        text-transform: capitalize;
        white-space: nowrap;
    }

    .table-styled .links a {
        white-space: nowrap;
    }

    .table-styled .expand, .table-styled .copy, .table-styled .select-checkbox {
        cursor: pointer;
    }

    .table-styled tfoot td {
        vertical-align: top !important;
        padding: 0 !important;
    }

    .table-styled > thead > tr:first-child > th {
        padding: 0 !important;
    }

    .table-styled tfoot td .form-control, .table-styled thead th .form-control {
        height: 37px;
        border-radius: 0;
        font-size: 12px;
    }

    .table-styled tfoot td select.form-control{
        padding: 6px;
    }

    .table-styled tfoot td [readonly] {
        background-color: #d9edf7;
    }

    .table-styled .always-editable {
        background-color: transparent !important;
    }

.table.masterShipList tbody td,
.table.bol-equipment-table tbody td,
.table.equipmentRevision tbody td {
    text-transform: uppercase;
}

.table.masterShipList input, .table.masterShipList textarea, .table.masterShipList select,
.table.equipmentRevision input, .table.equipmentRevision textarea, .table.equipmentRevision select,
.table.hardwareCommercialCodeTable input, .table.hardwareCommercialCodeTable textarea, .table.hardwareCommercialCodeTable select,
.table.bol-equipment-table input, .table.bol-equipment-table textarea, .table.bol-equipment-table select {
    text-transform: uppercase;
}

.table.hardwareCommercialCodeTable tbody tr td:not(:last-child) {
    text-transform: uppercase;
} 

.custom-actions button {
    margin: 5px 2px;
}












/*Remove arrows from number fields*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}