html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    /* Set the fixed height of the footer here */
    height: 60px;
}

    .footer .navbar {
        margin-bottom: 0;
    }

.banner {
    background-color: rgba(50, 57, 60, 1);
}

    .banner object {
        padding: .5em;
        max-height: 100px;
    }

.navbar {
    border-radius: 0;
}

.navbar-brand {
    white-space: nowrap;
    padding: 5px;
}

    .navbar-brand.vertical-bar-right {
        border-color: #fff;
        margin-right: 0px;
        padding-right: 15px;
    }

    .navbar-brand img {
        height: 100%;
    }

.navbar-inverse {
    background-color: rgba(9, 79, 164, 0.8);
    border-color: rgba(9, 79, 164, 0.8);
    border-bottom: 3px solid #eeba53;
}


    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > strong, .navbar-inverse .navbar-brand {
        color: #ffffff;
    }

        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
            background-color: #eeba52;
        }

.navbar-inverse.development {
    background-color: red;
    border-color: red;
}

.center-block {
    float: none;
}

.text-wrap {
    white-space: normal;
}

/* btn-secondary */
.btn-secondary {
    color: #FFFFFF;
    background-color: #EEBA52;
    border-color: #DDA942;
}

    .btn-secondary:hover,
    .btn-secondary:focus,
    .btn-secondary:active,
    .btn-secondary.active,
    .open .dropdown-toggle.btn-secondary {
        color: #FFFFFF;
        background-color: #dda942;
        border-color: #DDA942;
    }

    .btn-secondary:active,
    .btn-secondary.active,
    .open .dropdown-toggle.btn-secondary {
        background-image: none;
    }

    .btn-secondary.disabled,
    .btn-secondary[disabled],
    fieldset[disabled] .btn-secondary,
    .btn-secondary.disabled:hover,
    .btn-secondary[disabled]:hover,
    fieldset[disabled] .btn-secondary:hover,
    .btn-secondary.disabled:focus,
    .btn-secondary[disabled]:focus,
    fieldset[disabled] .btn-secondary:focus,
    .btn-secondary.disabled:active,
    .btn-secondary[disabled]:active,
    fieldset[disabled] .btn-secondary:active,
    .btn-secondary.disabled.active,
    .btn-secondary[disabled].active,
    fieldset[disabled] .btn-secondary.active {
        background-color: #EEBA52;
        border-color: #DDA942;
    }

    .btn-secondary .badge {
        color: #EEBA52;
        background-color: #FFFFFF;
    }

.vertical-bar-left {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #ddd;
}

.vertical-bar-right {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #ddd;
}

dl.dl-horizontal dt {
    width: 260px;
}

dl.dl-horizontal dd {
    margin-left: 280px;
}

.form-inline .radio-inline {
    margin-top: -3px;
}

.form-inline .total-records {
    margin-top: 5px;
}

.pagination-container .pagination {
    margin: 0;
}

.label-as-badge {
    border-radius: .7em;
    font-size: 12px;
    padding: 5px;
}

.modal-dialog {
    width: 100%;
    height: 100%;
}

.modal-body {
    max-height: 70vh;
    overflow-y: auto;
}








div.dataTables_wrapper div.dataTables_filter label, div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input, div.dataTables_wrapper div.dataTables_length select {
    margin-left: 0.5em;
    width: auto;
    display: inline-block;
}

div.dataTables_wrapper .dataTables_filter {
    text-align: inherit;
    float: left;
    margin-right: 10px;
}

div.dataTables_wrapper .dataTables_info {
     float: none; 
     padding-top: 0; 
}

div.dataTables_wrapper .dataTables_length {
    text-align: inherit;
    float: right;
}

div.dataTables_wrapper .dataTables_paginate {
    text-align: inherit;
}







/* all tables */
.table-styled {
    font-size: 10px;
}

    .table-styled th {
        vertical-align: middle !important;
        padding: 0 18px 0 10px;
        text-align: center;
        white-space: pre;
        cursor: pointer;
    }

    .table-styled tr td {
        vertical-align: middle !important;
    }

    .table-styled td.Red {
        background-color: rgb(255, 0, 102) !important;
    }

    .table-styled td.Yellow {
        background-color: rgb(255, 255, 0) !important;
    }

    .table-styled td.Green {
        background-color: rgb(146, 208, 80) !important;
    }

    .table-styled td.Purple {
        background-color: rgb(204, 192, 218) !important;
    }

    .table-styled td.Pink {
        background-color: rgb(255, 199, 206) !important;
    }

    .table-styled td.Fuchsia {
        background-color: rgb(255, 51, 204) !important;
    }

    .table-styled .links a {
        white-space: nowrap;
    }

    .table-styled .expand {
        cursor: pointer;
    }

    .table-styled tfoot td {
        padding: 0 !important;
    }

    .table-styled tfoot td .form-control {
        height: 37px;
        border-radius: 0;
        font-size: 10px;
    }

.table.masterShipList tbody td {
    text-transform: uppercase;
} 

.table.masterShipList .form-control {
    text-transform: uppercase;
} 















/*Remove arrows from number fields*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}