<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="ExpiredDays" value="30" />
    
    <!-- LOCAL -->
    <!--<add key="AttachmentLocation" value="C:\Users\Ron-Alan\Documents\Visual Studio 2015\Projects\WendtEquipmentTracking\WendtEquipmentTracking\Attachments" />-->

    <!-- RELEASE -->
    <add key="AttachmentLocation" value="D:\MSL Attachments" />

    <!-- STAGING -->
    <!--<add key="AttachmentLocation" value="D:\MSL Attachments" />-->
  </appSettings>
  <connectionStrings>

    <!-- LOCAL -->
    <!--<add name="WendtEquipmentTrackingEntities" connectionString="metadata=res://*/WendtEquipmentTracking.csdl|res://*/WendtEquipmentTracking.ssdl|res://*/WendtEquipmentTracking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0ROU4DV\SQLEXPRESS;initial catalog=WendtEquipmentTracking;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!-- RELEASE -->
    <add name="WendtEquipmentTrackingEntities" connectionString="metadata=res://*/WendtEquipmentTracking.csdl|res://*/WendtEquipmentTracking.ssdl|res://*/WendtEquipmentTracking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WENDT-SQL\MSL;initial catalog=WendtEquipmentTracking;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!-- STAGING -->
    <!--<add name="WendtEquipmentTrackingEntities" connectionString="metadata=res://*/WendtEquipmentTracking.csdl|res://*/WendtEquipmentTracking.ssdl|res://*/WendtEquipmentTracking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WENDT-SQL-DEV\MSL;initial catalog=WendtEquipmentTracking;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>