<Label>Select Hardware</Label>

<table class="table table-condensed table-hover table-bordered table-styled my-datatable">
    <thead>
        <tr>
            <th class="noSearch"></th>
            <th>Ship Tag #</th>
            <th>Description</th>
            <th>Qty</th>
            <th>Qty To Ship</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>