@model ProjectModel

@{
    ViewBag.Title = "Details";
}

<h2>Project <br /> <small>Details</small></h2>

<div>
    <hr />

    @Html.Partial("DetailsPartial", Model)

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
