<hr />
<p>Review the records below. When you are ready, click "Import" to import.</p>


<table class="table table-condensed table-hover table-bordered table-styled my-datatable">
    <thead>
        <tr>
            <th class="noSearch"></th>
            <th>Equipment</th>
            <th>Prty</th>
            <th>Released</th>
            <th>Dwg #</th>
            <th>Work
Order #</th>
            <th>Qty</th>
            <th>Ship
Qty</th>
            <th>Ship 
Tag #</th>
            <th>Description</th>
            <th>Unit
Wt</th>
            <th>Shipped
From</th>
            <th>New Equipment</th>
            <th>New Prty</th>
            <th>New Released</th>
            <th>New Dwg #</th>
            <th>New Work
Order #</th>
            <th>New Qty</th>
            <th>New Ship 
Tag #</th>
            <th>New Description</th>
            <th>New Unit
Wt</th>
            <th>New Shipped
From</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="form-group">
    <input type="submit" id="import" value="Import" class="btn btn-primary" />
</div>
