<hr />
<p>Review the records below. When you are ready, click "Import" to import.</p>


<table class="table table-condensed table-hover table-bordered table-styled my-datatable equipmentRevision">
    <thead>
        <tr>
            <th colspan="9" class="active"><span class="h5"><b>CURRENT DATA</b></span></th>
            <th colspan="1" class="active checkbox-style">&nbsp;</th>
            <th colspan="8" class="active"><span class="h5"><b>REVISION DATA</b></span></th>
        </tr>
        <tr>
            <th>Equipment</th>
            <th>Released</th>
            <th>Dwg #</th>
            <th>Work
Order #</th>
            <th>Qty</th>
            <th>Ship
Qty</th>
            <th>Ship 
Tag #</th>
            <th>Description</th>
            <th>Unit
Wt</th>
            <th class="noSearch checkbox-style"></th>
            <th>Equipment</th>
            <th>Released</th>
            <th>Dwg #</th>
            <th>Work
Order #</th>
            <th>Qty</th>
            <th>Ship 
Tag #</th>
            <th>Description</th>
            <th>Unit
Wt</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="form-group">
    <input type="submit" id="import" value="Import" class="btn btn-primary" />
</div>
