<hr />
<p>Review the records below. When you are ready, click "Import Equipment" to import.</p>


<table class="table table-condensed table-hover table-bordered table-styled my-datatable">
    <thead>
        <tr>
            <th class="noSearch"></th>
            <th>Equipment</th>
            <th>Prty</th>
            <th>Released</th>
            <th>Dwg #</th>
            <th>Work
Order #</th>
            <th>Qty</th>
            <th>Ship 
Tag #</th>
            <th>Description</th>
            <th>Unit
Wt</th>
            <th>RTS</th>
            <th>Shipped
From</th>
            <th>HTS</th>
            <th>COO</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="form-group">
    <input type="submit" id="import" value="Import Equipment" class="btn btn-primary" />
</div>